<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Download Files</title>
    <link rel="stylesheet" type="text/css" href="/static/download.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
        a {
            text-decoration: none;
            color: #007bff;
        }
    </style>
</head>
<body>
    <h1>Available Files</h1>
    <ul class="table-list">
        {% for file in files %}
            <li>{{ file['name'] }} <a href="/download/{{ drive }}/{{ file['name'] }}/{{ file['id'] }}">Download</a></li>
        {% endfor %}
    </ul>
</body>
</html>
