<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Drive</title>
    <link rel="stylesheet" type="text/css" href="/static/google_link.css">
</head>
<body>
    <form id="link-form" method="post" enctype="multipart/form-data" action="/google_link">
        <label for="file-input">Add Credentials file:</label>
        <input type="file" id="file-input" name="file" required>
      
        <label for="folder-id-input">Folder ID:</label>
        <input type="text" id="folder-id-input" name="folder_id" required>
      
        <button type="submit" id="link-btn">Link</button>
      </form>
</body>
</html>