<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    <link rel="stylesheet" type="text/css" href="/static/upload.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <img src="/static/Images/vecteezy_cloud-computing-modern-flat-concept-for-web-banner-design_5868377.jpg" alt="Office Technology" class="background-image">
    <h1>Upload a File</h1>
    <form action="/upload/{{ drive }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</body>
</html>
